@import 'tailwindcss';

@plugin "@iconify/tailwind4";

@theme {
	--color-background: oklch(0.2765 0.0242 277.87);
	--color-primary: oklch(0.6018 0.2351 299.68);
}

@utility g-px {
	padding-inline: 10vw;
}

html,
body {
	background-color: var(--color-background);
}

html,
body,
button,
a {
	cursor: none;
}
